*{
    margin: 0%;
    padding: 0%;
}
.maincontainer{
    background: skyblue;
    height: 100vh;
}
h1{
    display: flex;
    /* border: 2px solid blue; */
    justify-content: center;
    text-transform: uppercase;
    height: 70px;
    color: rgb(253, 7, 7);
    text-size-adjust: 25px;
    margin: top 25px;

}
.imgcontainer{
   
      display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
h2{
    color: rgb(255, 5, 5);
    margin-top: 10px;
    display: flex;
    justify-content: center;
   text-transform: uppercase;

}
img{
    display: flex;
    border-radius: 50%;
}